<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356463774004-ncg5gr5k1lv9qvdva1laolhkh8cfn6jv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356463774004-ncg5gr5k1lv9qvdva1laolhkh8cfn6jv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>356463774004-ju3mslahvkc2jt99jo65h6u7i6mfi96d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqEannI24mXw5Bk8hIZi7331Ncv8dMffo</string>
	<key>GCM_SENDER_ID</key>
	<string>356463774004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmc.jipsa.ios</string>
	<key>PROJECT_ID</key>
	<string>jipsa-f922c</string>
	<key>STORAGE_BUCKET</key>
	<string>jipsa-f922c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356463774004:ios:38b00611a319f45e89bd61</string>
	<key>DATABASE_URL</key>
	<string>https://jipsa-f922c.firebaseio.com</string>
</dict>
</plist>